<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.board.mapper.BoardMapper">
  
  <!-- 전체 글수 구하기 -->
  <select id="totalRow" resultType="long">
  	select count(*) from board 
  	<!-- 검색을 달아야 한다. -->
  	<include refid="search"></include>   	
  </select>
  
  <!-- 일반 게시판 리스트 -->
  <select id="list" resultType="org.zerock.board.vo.BoardVO">
  
  select no,title,writer,writeDate,hit 
  	from(
	  	select rownum rnum,no,title,writer,writeDate,hit
	  	from (
	    	SELECT 
	    	no,title,writer,writeDate,hit
	    	FROM board 
	    	<!-- 검색을 달아야 한다. -->	 
	    	<include refid="search"></include>   	
	    	order by no desc
	    )
	) where rnum between #{startRow} and #{endRow}
	
  </select>
  <!-- 일반 게시판 리스트의 검색 처리 -->
  <sql id="search">
  	<if test="key != null and key != ''.toString()">
	  	where
	  	<trim prefixOverrides="or">
	  		<if test="key.indexOf('t') >= 0">
	  			or title like '%' || #{word} || '%'
	  		</if>
	  		<if test="key.indexOf('c') >= 0">
	  			or content like '%' || #{word} || '%'
	  		</if>
	  		<if test="key.indexOf('w') >= 0">
	  			or writer like '%' || #{word} || '%'
	  		</if>
	  	</trim>
  	</if>
  </sql>
  
  <!-- 일반 게시판 조회수 증가 -->
  <!-- #{obj} 1.변수의 이름, 2.vo의 getter 이름, 3. Map의 Key -->
  <update id="inc">
  	update board set hit=hit+1 where no = #{no}
  </update>
  <!-- 일반 게시판 글 보기 -->
  <select id="view" resultType="org.zerock.board.vo.BoardVO">
    SELECT no,title,content,writer,writeDate,hit FROM board where no = #{no}
  </select>
  <!-- 일반 게시판 글 등록 -->
  <insert id="write">
  	<!-- 먼저 vo의 no의 setter을 이용해서 시퀀스에서 받아온 번호를 세팅해 준다. -->
  	<selectKey keyProperty="no" order="BEFORE" resultType="Long">
  		select board_seq.nextval from dual
  	</selectKey>
  	
  	
  	insert into board(no,title,content,writer,pw) values(#{no},#{title},#{content},#{writer},#{pw})
  </insert>
  
  <!-- 일반 게시판 글 등록 트랙젝셕 테스트 - 같은 no의 데이터를 등록 시도 -->
<!--   <insert id="writeTx"> 	 -->
  	<!-- 먼저 vo의 no의 setter을 이용해서 시퀀스에서 받아온 번호를 세팅해 준다. -->
<!--   	<selectKey keyProperty="no" order="BEFORE" resultType="Long"> -->
<!--   		select board_seq.nextval from dual -->
<!--   	</selectKey> -->
  	
<!--   	insert into board(no,title,content,writer,pw) values(#{no},#{title},#{content},#{writer},#{pw}) -->
<!--   </insert> -->
  
  <!-- 일반 게시판 글 수정 -->
  <update id="update">
  	<![CDATA[
  		update board set title=#{title},content=#{content},writer=#{writer} where no = #{no} and pw = #{pw}
  	]]>  	
  </update>
  <!-- 일반 게시판 글 삭제 -->
  <delete id="delete">
  	<![CDATA[
    	delete from board where no=#{no} and pw=#{pw}
    ]]>
  </delete>
  
</mapper>